#root {
  /* max-width: 1280px; */
  background-image: url('/src/assets/images/Background.png');
  background-size: cover;
  max-width: 100vw;
  overflow-x: hidden;
  height: 500vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

html, body {
  overflow-x: hidden;
}
