.fb-title {
    display: flex;
    width: 100%;
    height: auto;
    /* margin-bottom: 1rem; */
    justify-content: center;
}

.fb-logo {
    width: 40%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.fb-name{
    word-spacing:100em;
    font-size: 1.9rem;
    text-shadow: 4px 4px #7E65FE;
    letter-spacing: 7px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.fb-name h1{
    margin: 0;
}

@-moz-document url-prefix() {
    .fb-name{
        width: 80%;
    }
}

@media (min-width: 768px) {
    .fb-container {
        flex-direction: row;
    }
    .fb-title {
        justify-content: left;
    }
    
}

@media (min-width: 1024px) {
    .fb-name{
        font-size: 2.5rem;
    }
}

@media (min-width: 1536px) {
    .fb-name{
        font-size: 3.8rem;
    }
}

@media (min-width: 2100px) {
    .fb-name{
        font-size: 2.8rem;
    }
}