.schedule-frame {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 1rem;
    margin: 0 0.8rem;
}

.schedule-frame::-webkit-scrollbar {
    width: 1rem;
    height: 90%;
}
  
.schedule-frame::-webkit-scrollbar-track {
    background: #C9BEEA99;
    margin: 0.8rem 0;
}
   
.schedule-frame::-webkit-scrollbar-thumb {
    background: #7E65FE;
    border: 2px solid black; 
}
  
@-moz-document url-prefix() {
    .schedule-frame {
        scrollbar-width: auto; 
        scrollbar-color: #000000 #C9BEEA99; 
    }

}

