.fb-body {
    font-family: "PixelFont";
    padding-top: 63.5px;
    display: flex;
    justify-content: center;
}

.fb-container {
    margin: 2.5%;
    flex-grow: 1;
    background-color:  #988ed066;
    border-radius: 20px;
    padding: 2.5%;
    color: white;
    display: flex;
    max-width: 1100px;
}

.fb-column-left, .fb-column-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.fb-column-left {
    width: 60%;
    margin-right: 4%;
}

.fb-column-right {
    width: 40%;
}

.fb-redirect-row {
    display: flex;
    margin-bottom: 30px;
    height: 25%;

}

.fb-half {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 50%); /* 2 rows, 200px height each */
    height: 100%;
}