/* WE NEED TO ADD QUERY FOR HEIGHTS SO THAT BANNER DOESN"T OVERLAP WITH CONTENTS */
.fb-body {
    font-family: "PixelFont";
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}