.button {
  background-color: #614ea5;
  color: white;
  border: 2px solid #443774;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto-Mono";
  z-index: 10;
}

.rounded {
  border-radius: 100px;
}

.outline {
  background-color: transparent;
  border: 2px solid white;
}

.button:hover {
  opacity: 0.8;
}

@media (min-width: 475px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

@media (min-width: 2100px) {
}

@media (min-width: 2400px) {
}

@media (min-width: 3700px) {
}
