.footer {
  position: relative;
  width: 100%;
  background-color: #231c45;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.footerNav {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 1rem;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footerCopy {
  font-size: 14px;
  margin: 0;
}

.footerLinks {
  display: flex;
  list-style: none;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.footerLinks a {
  color: white;
  transition: color 0.3s ease;
}

.footerLinks a:hover {
  color: white;
}

.footerLinks svg {
  display: block;
}
