@font-face {
  font-family: 'Roboto-Mono';
  src: url('/src/assets/fonts/Roboto-Mono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Yerk';
  src: url('/src/assets/fonts/Yerk/Yerk-Regular.ttf') format('truetype');
}

.about {
  align-items: flex-start;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  /* overflow: hidden; */
  text-align: left;
  width: 100vw;
}

.cloudsParallax {
  bottom: 360vh;
  position: relative;
  z-index: 2;
}

.clouds {
  height: 80%;
  z-index: 2;
}

.description {
  font-family: 'Roboto-Mono', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 600px;
  padding-bottom: 5%;
  padding-left: 20%;
  z-index: 2;
}

.title {
  font-family: 'Yerk', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 20%;
  padding-top: 7%;
  z-index: 1;
}

.moon {
  height: 50%;
  z-index: 10;
}

.moonParallax {
  bottom: 60vh;
  left: 130vh;
  position: relative;
  z-index: 10;
}

.mountainImage {
  bottom: 70vh;
  height: 150%;
  position: relative;
  width: 100%;
  z-index: 2;
}

.mountainImage2 {
  bottom: 220vh;
  height: 150%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.stars {
  height: 150%;
  width: 130%;
}

.starsParallax {
  top: -10vh;
  left: -10vw;
  position: absolute;
  z-index: 0;
}
