.about {
  align-items: flex-start;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* overflow: hidden; */
  text-align: left;
  height: 100vh;
  width: 100vw;
}

.cloudsParallax {
  top: 95vh;
  position: absolute;
  z-index: 3;
  height: 100%;
}

.clouds {
  height: 100%;
  z-index: 3;
}

.description {
  font-family: "Roboto-Mono", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 600px;
  padding-bottom: 5%;
  padding-left: 20%;
  z-index: 5;
}

.title {
  font-family: "Yerk", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 20%;
  padding-top: 7%;
  z-index: 5;
}

.moon {
  height: 50%;
  z-index: 1;
}

.moonParallax {
  bottom: 60vh;
  left: 130vh;
  position: relative;
  z-index: 1;
}

.mountainContainer {
  position: relative;
}

.mountainImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.mountainImage2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.stars {
  height: 150%;
  width: 130%;
}

.starsParallax {
  top: -10vh;
  left: -10vw;
  position: absolute;
  z-index: 0;
}
