.Sponsors {
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 3;
  position: relative;
}

.buildings {
  width: 100vw;
  z-index: 3;
}

.leftBuilding {
  width: 100vw;
  z-index: 6;
  position: absolute;
  left: 0;
}

.midBuilding {
  width: 100vw;
  z-index: 4;
  position: absolute;
  left: 0;
}

.frBuilding {
  width: 100vw;
  z-index: 5;
  position: absolute;
  left: 0;
}

.events {
  width: 100vw;
  position: absolute;
  z-index: 7;
  bottom: 0;
  background-color: #110b2790;
}

.eventsBG {
  width: 100vw;
}
