@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.Title {
  display: flex;
  color: #fff6f9;
  background-color: transparent;
  text-align: left;
  width: 100vw;
  height: 100vh;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50%;
}

.title {
  font-family: "Yerk", sans-serif;
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px #614ea5;
}

.name {
  height: 35%;
  z-index: 10;
  position: absolute;
  top: 25vh;
  left: 50vw;
}

.stars {
  height: 100%;
}

.byteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.byte {
  width: 60%;
  opacity: 1;
  z-index: 4;
  animation: float 6s ease-in-out infinite;
}

.buttonContainer {
  display: flex;
  margin-bottom: 5rem;
  gap: 10px;
}
