/* vertical display */
@media only screen and (max-aspect-ratio: 1/1) {
    .homeContainer {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content:center;
        align-items: center;
        flex-wrap: wrap;
        height: 100vh;
    }

    .pageRightContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items:center;
        flex-wrap: wrap;
    }
    
    .bolt {
        font-size: 8vh;
        margin: 0;
        font-weight: bold;
        color: #623CE8;
        display: inline;
    }

    .ubc {
        font-size: 8vh;
        margin: 0;
        font-weight: bold;

    }

    .catchPhrase {
        flex-shrink: 0;
        font-size: 3vh;
    }

    .main_dog_image {
        transform: scale(0.9);
        width: 50vw;
    }

    .memberButton {
        /* width: 15vw;
        height:5vh;
        min-width: 20px;
        text-wrap: nowrap; */
        background-color: #623CE8;
        color: white;

    }

    .becomeourpartner {
        font-size: 20px;
        margin: 0;
        position: relative;
        top: 5px;
        }
} 

/* horizontal display */
@media only screen and (min-aspect-ratio: 1/1) {
    
    .homeContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 100vh;
    }

    .pageRightContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items:flex-start;
        flex-wrap: wrap;
    }
    
    .bolt {
        font-size: 6vw;
        margin: 0;
        font-weight: bold;
        color: #623CE8;
        display: inline;
    }

    .ubc {
        font-size: 6vw;
        margin: 0;
        font-weight: bold;

    }

    .catchPhrase {
        flex-shrink: 0;
        font-size: 2vw;
    }

    .main_dog_image {
        transform: scale(0.5);
        width: 40vw;
    }

    .memberButton {
        /* width: 15vw;
        height:5vh;
        min-width: 20px;
        text-wrap: nowrap; */
        background-color: #623CE8;
        color: white;

    }

    .becomeourpartner {
        font-size: 20px;
        margin: 0;
        position: relative;
        top: 5px;
        }
}