.fb-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(152, 142, 208, 0.4);
    z-index: 10;
    width: 100vw;
    height: fit-content;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-text {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.visible {
    top: 0px;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hide {
    top: -70px;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}