.fb-button {
    font-family: "PixelFont";
    background-color: #7E65FE;
    color: #ffffff;
    border-top: 0;
    border-left: 0;
    border-bottom: 3px solid #5946ba;
    border-right: 3px solid #5946ba;
    font-size: 24px;
    padding: 8px 24px;
}

.fb-button:hover {
    background-color: #6b52e8;
    color: #e1e1e1;
    border-bottom: 4px solid #4a3b95;
    border-right: 4px solid #4a3b95;
}