.fb-title {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.fb-logo {
    width: 40%;
}

.fb-name{
    max-width: 40%;
    word-spacing:100em;
    font-size: 40px;
    text-shadow: 4px 4px #7E65FE;
    letter-spacing: 7px;
    margin: auto 0;
}

.fb-name h1{
    margin: 0;
}