.sponsor-display {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 2px;
    flex-direction: column;
    text-decoration: none;
}

.sponsor-folder{
    position: absolute;
    display: flex;
    width: 13%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.sponsor-logo {
    position: relative;
    max-width: 40%;
    z-index: 3;
    height: 40%;

}

.sponsor-label {
    margin: 0;
    color: #353535;
    text-shadow: 2px 2px #7E65FE;
    font-size: 24px;
    z-index: 3;
}

.folder-text {
    font-size: 20px;
}
/* 
.fb-folder, .fb-folder-shadow {
    position: absolute;
    width: 205px;
    height: 186px;
    color: white;
}

.fb-folder-shadow {
    margin-left: 4.5px;
    margin-top: 4px;
}

.folder-tab-outline-shadow, .folder-tab-shadow, 
.folder-tab-outline, .folder-tab {
    border-right: 13.5px solid transparent;
    border-bottom: 21.6px solid;
    height: 0;
    position: absolute;
}

.folder-tab-outline-shadow {
    width: 104.85px;
    border-bottom-color: #000000;
}

.folder-tab-shadow {
    width: 99.9px;
    border-bottom-color: #8B8699;
    left: 4px;
    top: 4px;
}

.folder-body-shadow {
    background-color: #8B8699;
    height: 145px;
    width: 207px;
    border: 4px solid #000000;
    margin-top: 30px;
}

.folder-tab-outline {
    width: 77.85px;
    border-bottom-color: #000000;
}

.folder-tab {
    width: 72.9px;
    border-bottom-color: #BDA9F6;
    left: 4px;
    top: 4px;
}

.folder-tab-line {
    width: 84.15px;
    position: absolute;
    left: 4px;
    top: 21.6px;
    border-right: 4.8px solid transparent;
    border-bottom: 4px solid #8E7FB8;
}

.folder-body {
    background-color: #E8E0FF;
    height: 150px;
    width: 100%;
    border: 4px solid #000000;
    margin-top: 21.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-logo {
    max-width: 50%;
}

.sponsor-label {
    margin: 0;
    color: #353535;
    text-shadow: 2px 2px #7E65FE;
    font-size: 24px;
} */
