.link-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.link-thumbnail {
    width: 80%;
    height: 60%;
    border: 3px solid black;
    box-shadow: 3px 3px #7E65FE80;
}

.link-name {
    color: rgb(62, 62, 62);
    margin: 0.5rem auto;
    font-size: 1.0rem;
}

@media (min-width: 320px) {
    .link-name {
        font-size: 0.6rem;
    }
}

@media (min-width: 475px) {
    .link-name {
        font-size: 0.8rem;
    }
}

@media (min-width: 640px) {
    .link-name {
        font-size: 1.3rem;
    }
}


@media (min-width: 768px) {
    .link-name {
        font-size: 0.6rem;
    }
}

@media (min-width: 1024px) {
    .link-name {
        font-size: 0.8rem;
    }
}

@media (min-width: 1536px) {
    .link-name {
        font-size: 1.2rem;
    }
}

@media (min-width: 2100px) {
    .link-name {
        font-size: 1.6rem;
    }
}

@media (min-width: 3700px) {
    .link-name {
        font-size: 3rem;
    }
}